@model MVCDemo.Models.PersonViewModel

<h1>Person Info</h1>

<form asp-action="PersonInfo" method="post">
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" class="form-control" id="Name" asp-for="Name" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="BirthDate" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p>@Model.Name is @Model.Age years old</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

